<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="S_Squared_Entrprises_Personnel_System_Win.Properties.Settings.S_SquaredConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=S_Squared;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>